
*.pak
*.cache
*.vsidx
*.vsidx
*.vsidx
*.vsidx
*.cache
*.dll
*.nexe
*.bin
*.dll
*.cache
*.v2

FileContentIndex/
ProjectEvaluation/
.vs/SeattleRoasterProject/FileContentIndex/11f12aff-baf3-4465-9980-bedcc07ec7e4.vsidx
