.vs/
bin/
obj/
*/obj/
*.user
artifacts/
.vscode/
.dotnet/
*.binlog
/.vs
SeattleRoasterProject/.local-chromium/*
.vs/ProjectEvaluation/*
.vs/*
ShopArchive/

*.pak
*.vsidx
*.cache
*.dll
*.nexe
*.bin
*.dll
*.v2
*.metadata.v2
*.metadata.*
RoasterSiteDataScrapper/Mongo/Credentials.cs
