<div class="relative top-0 w-full bg-neutral-800 py-2 text-neutral-100">
    <div class="mx-8 flex justify-around">
        <div class="rounded p-1 text-lg hover:bg-neutral-700">
            <a href="/beans" class="hover:underline">Beans</a>
        </div>
        <div class="rounded p-1 text-lg hover:bg-neutral-700">
            <a href="/roasters" class="hover:underline">Roasters</a>
        </div>
        <div class="text-2xl">
            Seattle Roaster Project Admin Dashboard
        </div>
        <div class="rounded p-1 text-lg hover:bg-neutral-700">
            <a href="/admin" class="hover:underline">Admin</a>
        </div>
    </div>
</div>