<div class="relative top-0 w-full bg-neutral-800 py-2 text-neutral-100">
    <div class="mx-8 flex justify-around">
        <NavLink href="/beans" class="rounded px-2 py-1 text-lg hover:bg-neutral-700" ActiveClass="border border-purple-500 bg-purple-700/25">
            Beans
        </NavLink>
        <NavLink href="/scrape" class="rounded px-2 py-1 text-lg hover:bg-neutral-700" ActiveClass="border border-purple-500 bg-purple-700/25">
            Scrape
        </NavLink>
        <NavLink href="/roasters" class="rounded px-2 py-1 text-lg hover:bg-neutral-700" ActiveClass="border border-purple-500 bg-purple-700/25">
            Roasters
        </NavLink>
        <div class="text-2xl">
            Seattle Roaster Project Admin Dashboard
        </div>
        <NavLink href="/admin" class="rounded px-2 py-1 text-lg hover:bg-neutral-700" ActiveClass="border border-purple-500 bg-purple-700/25">
            Admin
        </NavLink>
    </div>
</div>