<div class="row d-flex justify-content-start pb-2">
	<h5 class="card-title text-center mb-0">
		@Bean.FullName
	</h5>

	<div class="mt-1 quick-properties text-center justify-content-center">
		<small>@((MarkupString)Bean.GetQuickProperties())</small>
	</div>

	<hr class="my-1" />

	<div class="px-0 mt-1 mb-2 col-12">
		<BeanBadges bean="Bean"></BeanBadges>
	</div>
</div>
@code {
	[Parameter]
	public BeanModel Bean { get; set; }
}
