<div class="w-full flex bg-dark-roast-700 py-2">
    <div class="flex-auto w-80">
        <BeanDetailTitle Bean="@Bean"></BeanDetailTitle>
    </div>
    <div class="flex-none">
        <BeanDetailRating Bean="@Bean"></BeanDetailRating>
    </div>
</div>

@code {
    [Parameter]
    public BeanModel? Bean { get; set; }
}
