<div class="flex h-full items-center">
    <div class="relative my-auto">
        <img src="@Bean.ImageURL"
             class="@Bean.ImageClass h-48 w-full object-cover md:h-full md:w-48"
             alt="@Bean.FullName"
             onerror="this.onerror=null;this.src='/images/missing-image.png'"
             loading="lazy"/>

        <BeanDetailFavorite Bean="@Bean"></BeanDetailFavorite>
    </div>
</div>

@code {
    [Parameter] public BeanModel Bean { get; set; }
}