<a class="btn bg-accent-500 flex justify-center align-center rounded-lg text-crema-100 p-1 shadow-lg border-bg-accent-800" href="@Bean.ProductURL" target="_blank">
    <span class="material-symbols-outlined me-1">
        open_in_new
    </span>
    <span class="me-2">
        @Bean.PriceBeforeShipping
    </span>
    
    <span class="text-crema-100 opacity-50">@Bean.GetPricePerOzString()</span>
</a>

@code {
    [Parameter]
    public BeanModel? Bean { get; set; }
}
