<div class="flex m-1 items-center">
    <span class="me-2 opacity-50">
        @Bean.SizeOunces oz
    </span>

    <BeanDetailStoreButton Bean="@Bean"></BeanDetailStoreButton>
</div>

@code {
    [Parameter] public BeanModel Bean { get; set; }
}