<a class="btn border-bg-accent-800 bg-medium-roast-200 text-medium-roast-800 flex justify-center rounded-lg px-2 py-1 align-middle shadow-lg hover:bg-medium-roast-300 hover:text-medium-roast-900 active:bg-medium-roast-400" href="@Bean.ProductURL" target="_blank">
    <span class="me-2">
        $@Bean.PriceBeforeShipping
    </span>

    <span class="text-sm opacity-75">@Bean.GetPricePerOzString()</span>
</a>

@code {
    [Parameter] public BeanModel? Bean { get; set; }
}