<div class="border rounded-lg mb-8 shadow-md overflow-hidden flex bg-dark-roast-800 border-crema-400 flex flex-col">
    <BeanDetailHeader Bean="@Bean"></BeanDetailHeader>
    <div class="flex flex-row">
        <div class="flex-none">
            <BeanDetailImage Bean="@Bean"></BeanDetailImage>
        </div>
        <div class="grow p-2">
            <div class="flex flex-col h-full">
                <div class="grow">
                    <BeanDetailBody Bean="@Bean"></BeanDetailBody>
                </div>

                <div class="shrink self-end">
                    <BeanDetailFooter Bean="@Bean"></BeanDetailFooter>
                </div>
            </div>
        </div>
    </div>
    
</div>

@code {
    [Parameter]
    public BeanModel? Bean { get; set; }
}
