<Tooltip Uid="@Bean.Id">
    <TooltipLabel>
        <div class="items-top me-2 flex">
            @((MarkupString)Bean.GetTraceabilityScoreStarDisplay())
        </div>
    </TooltipLabel>
    <TooltipContent>
        @((MarkupString)Bean.GetTraceabilityScoreBreakdownDisplay())
    </TooltipContent>
</Tooltip>

@code {
    [Parameter] public BeanModel? Bean { get; set; }
}