@using SeattleRoasterProject.Data.Enums
@inject EnvironmentSettings EnvSettings
@inject NavigationManager NavManager

<div class="bg-crema-300 text-dark-roast-800 absolute left-0 top-0 h-12 w-full">
    <div class="flex py-2">
        <div class="w-30 flex flex-none justify-start">
            @if (!string.IsNullOrEmpty(_curPage))
            {
                <a href="/">
                    <img src="/images/logo.png" class="h-8 w-full object-cover ps-4" alt="Project logo, a simple coffee bean design"/>
                </a>
                <a class="ms-1 text-2xl" href="/">Seattle Roaster Project</a>
            }
        </div>
        <div class="flex-1 w-70 flex justify-end">
            <HeaderNavLink Page="PageEnum.Search"></HeaderNavLink>
            <HeaderNavLink Page="PageEnum.Favorites"></HeaderNavLink>

            @if (EnvSettings.IsDevelopment)
            {
                <HeaderNavLink Page="PageEnum.NewBeans"></HeaderNavLink>
                <HeaderNavLink Page="PageEnum.Roasters"></HeaderNavLink>
                <HeaderNavLink Page="PageEnum.TastingNotes"></HeaderNavLink>
            }
        </div>
    </div>
    <div class="shapedividers_com-299 bg-medium-roast-700 h-8">

    </div>
</div>

@code {
    private string _curPage = string.Empty;

    protected override void OnInitialized()
    {
        NavManager.LocationChanged += HandleLocationChanged!;
        _curPage = NavManager.Uri.Replace(NavManager.BaseUri, "");
    }

    private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        _curPage = NavManager.Uri.Replace(NavManager.BaseUri, "");

        StateHasChanged();
    }

    public void Dispose()
    {
        NavManager.LocationChanged -= HandleLocationChanged!;
    }

}