@inherits LayoutComponentBase

<PageTitle>SeattleRoasterProject</PageTitle>

<div>
    <main>
        <HeaderNav></HeaderNav>
        <article class="pt-20">
            @Body
        </article>
    </main>
</div>

<PageFooter></PageFooter>