@inherits LayoutComponentBase

<PageTitle>SeattleRoasterProject</PageTitle>

<div class="page">
    <main>
        <TopRow></TopRow>

        <article class="content px-4">
            @Body
        </article>
       

    </main>

    
</div>

<PageFooter></PageFooter>
