@inherits LayoutComponentBase

<PageTitle>SeattleRoasterProject</PageTitle>

<div class="bg-dark-roast-900 text-crema-200">
    <main>
        <TopRow></TopRow>

        <article >
            @Body
        </article>
       

    </main>

    
</div>

<PageFooter></PageFooter>
