<footer>
    <div class="flex justify-items-center py-2 bg-dark-roast-900 text-crema-200">
        <div class="flex-none px-2">
            <span>Made by Joe Carberry</span>
        </div>
        <div class="flex-1 text-end pe-4">
            <span class="bi bi-envelope me-1"></span>
            <a href="mailto:carberry.joey+seattleroastersproject@gmail.com?subject=Seattle%20Roasters%20Project" target="_blank" class="me-4">
                carberry.joey@gmail.com
            </a>

            <span class="bi bi-github me-1"></span>
            <a href="https://github.com/JoeyCranberry/SeattleRoasterProject" target="_blank">
                Github
            </a>
        </div>
    </div>
</footer>