<footer>
	<div class="row mx-0 mt-1">
		<div class="col-md-4 col-sm-12 text-left">
			Made by Joe Carberry
		</div>

		<div class="col-md-8 col-sm-12 text-right">
			<span class="bi bi-envelope ms-1"></span>
			<a href="mailto:carberry.joey+seattleroastersproject@gmail.com?subject=Seattle Roasters Project" target="_blank">
				carberry.joey@gmail.com
			</a>

			<span class="bi bi-github m-4 me-0"></span>
			<a href="https://github.com/JoeyCranberry/SeattleRoasterProject" target="_blank">Github
			</a>
		</div>
	</div>
</footer>