<div class="top-row row px-4">
	<div class="col d-flex justify-content-start">
		<h3 class="siteHeader">Seattle Roaster Project</h3>
	</div>
	<div class="col d-flex justify-content-end">
		<a href="/beans" class="btn btn-primary">Beans</a>
		<a href="/roasters" class="btn btn-primary">Roasters</a>
	</div>
</div>

@code {

}
