@inject EnvironmentSettings envSettings
@inject NavigationManager navManager

<div class="top-row row mx-0 @topRowAddlClass">
	<div class="col-md-4 d-flex justify-content-start">
		@if (!String.IsNullOrEmpty(curPage))
		{
			<a href="/" class="mb-0"><img src="/images/logo-on-dark.jpg" style="max-height: 35px;"  alt="Project logo, a simple coffee bean deisgn" /></a>
			<div class="d-flex align-items-center">
				<a class="ms-2 navbar-brand mb-0" href="/"><h3 class="site-header">Seattle Roaster Project</h3></a>
			</div>
		}
	</div>

	<div id="secondNavRow" class="col-12 col-md-8 d-flex justify-content-end">
		<NavLink href="/beans" Match=@NavLinkMatch.Prefix class="text-crema side-nav-link px-2 me-2"><span class="bi bi-search pe-1"></span> Search</NavLink>
		<NavLink href="/favorites" Match=@NavLinkMatch.All class="text-crema side-nav-link px-2 me-2"><span class="bi bi-heart-fill pe-1"></span> Favorites</NavLink>

		@if (curEnviroment == EnvironmentSettings.Environment.Development)
		{
			<NavLink Match=@NavLinkMatch.All href="/new-beans" class="text-crema side-nav-link px-2 me-2"><span class="bi bi-plus-circle-dotted pe-1"></span> New Beans</NavLink>
			<NavLink Match=@NavLinkMatch.All href="/roasters" class="text-crema side-nav-link px-2"><span class="bi bi-people pe-1"></span> Roasters</NavLink>
			<NavLink Match=@NavLinkMatch.All href="/tasting-notes" class="text-crema side-nav-link px-2"><span class="bi bi-music-note pe-1"></span> Tasting Notes</NavLink>
		}
	</div>
</div>
@*<div class="row">
	<div class="col bg-danger">
		<span class="ps-1">Sorry for the issues, I'm working on upgrading the servers, please come back later!</span>
	</div>
</div>*@

@code {
	private EnvironmentSettings.Environment curEnviroment = EnvironmentSettings.Environment.Production;

	private string curPage = String.Empty;

	private ElementReference? topRow;
	private string topRowAddlClass = "";

	protected override void OnInitialized()
	{
		curEnviroment = envSettings.GetEnvironment();
		navManager.LocationChanged += HandleLocationChanged;
		curPage = navManager.Uri.Replace(navManager.BaseUri, "");

		AdjustTopRowHeightForScreenWidth();
	}

	private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
	{
		curPage = navManager.Uri.Replace(navManager.BaseUri, "");
		AdjustTopRowHeightForScreenWidth();

		StateHasChanged();
	}

	public void Dispose()
	{
		navManager.LocationChanged -= HandleLocationChanged;
	}

	private void AdjustTopRowHeightForScreenWidth()
	{
		if (String.IsNullOrEmpty(curPage))
		{
			topRowAddlClass = "top-row-height-desktop";
		}
		else
		{
			topRowAddlClass = "";
		}
	}
}
