@inject EnviromentSettings envSettings
@inject IConfiguration config

<div class="top-row row mx-0">
	<div class="col d-flex justify-content-start">
		<img src="/images/logo.png"/>
		<div class="d-flex align-items-center">
			<a class="ms-2 navbar-brand" href=""><h3 class="siteHeader">Seattle Roaster Project</h3></a>
		</div>
	</div>
	<div class="col d-flex justify-content-end">
		<a href="/beans" class="text-crema me-2"><span class="bi bi-search pe-1"></span> Search</a>
		<a href="/favorites" class="text-crema me-2"><span class="bi bi-heart-fill pe-1"></span> Favorites</a>
		@if (curEnviroment == EnviromentSettings.Enviroment.DEVELOPMENT)
		{
			<a href="/new-beans" class="text-crema me-2"><span class="bi bi-plus-circle-dotted pe-1"></span> New Beans</a>
			<a href="/roasters" class="text-crema"><span class="bi bi-people pe-1"></span> Roasters</a>
		}
	</div>
</div>

@code {
	private EnviromentSettings.Enviroment curEnviroment = EnviromentSettings.Enviroment.PRODUCTION;

	protected override void OnInitialized()
	{
		curEnviroment = envSettings.GetEnviroment(config);
	}
}
