
<div class="px-6">
    <span class="mb-6">
        @Title
    </span>
    <div class="faded-list">
        @foreach (var country in Items)
        {
            <div class="ps-2">
                @country
            </div>
        }
    </div>
</div>

@code {
    [Parameter] 
    public string Title { get; set; } = string.Empty;

    [Parameter] 
    public List<MarkupString> Items { get; set; } = new();
}
