<div class="px-6">
    <span class="mb-6 font-bold">
        @Title
    </span>
    <div class="faded-list text-opacity-75">
        @foreach (var item in Items)
        {
            <div class="ps-2">
                @item
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = string.Empty;

    [Parameter] public List<MarkupString> Items { get; set; } = new();
}