<td class="@Class border border-white @(UseHoriztonalPadding ? "px-4" : "") py-4">
    @ChildContent
</td>
@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool UseHoriztonalPadding { get; set; } = true;

    [Parameter]
    public string Class { get; set; } = string.Empty;
}
