@page "/admin"

<div class="mb-2 flex gap-2">
    <SharedButton ThemeColor="ButtonThemeEnum.Primary">
        <i class="bi bi-ban"></i>
    </SharedButton>
    <SharedButton ThemeColor="ButtonThemeEnum.PrimaryOutlined">
        <i class="bi bi-ban"></i>
    </SharedButton>
    <SharedButton ThemeColor="ButtonThemeEnum.Success">
        <i class="bi bi-ban"></i>
    </SharedButton>
    <SharedButton ThemeColor="ButtonThemeEnum.SuccessOutlined">
        <i class="bi bi-ban"></i>
    </SharedButton>
    <SharedButton ThemeColor="ButtonThemeEnum.Neutral">
        <i class="bi bi-ban"></i>
    </SharedButton>
    <SharedButton ThemeColor="ButtonThemeEnum.NeutralOutlined">
        <i class="bi bi-ban"></i>
    </SharedButton>
    <SharedButton ThemeColor="ButtonThemeEnum.Danger">
        <i class="bi bi-ban"></i>
    </SharedButton>
    <SharedButton ThemeColor="ButtonThemeEnum.DangerOutlined">
        <i class="bi bi-ban"></i>
    </SharedButton>
</div>

<div class="flex gap-2">
    <SharedButton ThemeColor="ButtonThemeEnum.Primary" IsDisabled="true">
        <i class="bi bi-ban"></i>
    </SharedButton>
    <SharedButton ThemeColor="ButtonThemeEnum.PrimaryOutlined" IsDisabled="true">
        <i class="bi bi-ban"></i>
    </SharedButton>
    <SharedButton ThemeColor="ButtonThemeEnum.Success" IsDisabled="true">
        <i class="bi bi-ban"></i>
    </SharedButton>
    <SharedButton ThemeColor="ButtonThemeEnum.SuccessOutlined" IsDisabled="true">
        <i class="bi bi-ban"></i>
    </SharedButton>
    <SharedButton ThemeColor="ButtonThemeEnum.Neutral" IsDisabled="true">
        <i class="bi bi-ban"></i>
    </SharedButton>
    <SharedButton ThemeColor="ButtonThemeEnum.NeutralOutlined" IsDisabled="true">
        <i class="bi bi-ban"></i>
    </SharedButton>
    <SharedButton ThemeColor="ButtonThemeEnum.Danger" IsDisabled="true">
        <i class="bi bi-ban"></i>
    </SharedButton>
    <SharedButton ThemeColor="ButtonThemeEnum.DangerOutlined" IsDisabled="true">
        <i class="bi bi-ban"></i>
    </SharedButton>
</div>



@code {

}
