.roasterImage {
    max-height: 2.75rem;
    object-fit: contain;
}

.bean-preview-image {
    max-height: 8rem;
    object-fit: contain;
}


.preview-section {
    background: rgba(var(--site-crema-rgb), .05);
    width: 100%;
}

@media (max-width: 640.98px) {
    .card-container {
        margin-bottom: 1rem;
    }
}