@using System.Diagnostics

@inject IJSRuntime JSRuntime
@inject BeanService beanServ
@inject RoasterService roasterServ
@inject BeanSortingService sortServ
@inject FavoritesService favServ

@if (listings != null)
{
	#region Loading State
	<div class="row mb-3 justify-content-center">
		@if (firstLoad)
		{
			<div class="spinner-border text-light" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<small class="text-center text-faded">Loading beans...</small>

			<div class="row row-cols-1 row-cols-md-3 gy-4 justify-content-center">
				@for (int i = 0; i < 9; i++)
				{
					<PlaceholderBeanCard></PlaceholderBeanCard>
				}
			</div>
		}
		else
		{
			@if (!searchReturnedResults || listings.Count == 0)
			{
				<span class="text-center">No results for that search...</span>
			}
			else
			{
				@if (!searchIsExactMatch)
				{
					<span class="text-center">We couldn't find exactly that search, but here's something close</span>
				}

				<small class="text-center text-faded">@listings.Count results (@timeElapsedDisplay)</small>
			}
		}
	</div>
	#endregion
	#region Bean Cards
	<div id="beanCards" class="row row-cols-3 row-cols-md-3 gy-4 justify-content-center">
		@foreach (BeanListingModel listing in listings)
		{
			<div class="card mx-2 shadow py-1">
				
				<RoasterCardHeader Roaster="listing.Roaster"></RoasterCardHeader>
				<BeanCardBody bean="listing.Bean"></BeanCardBody>
				<div class="card-footer px-0 gx-0 row d-flex justify-content-between">
					<div class="col-6 justify-content-start">
						<BeanPrice Bean="listing.Bean"></BeanPrice>
					</div>

					<div class="col-4 d-flex justify-content-center align-items-center">
						<span data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="@((MarkupString)listing.Bean.GetTraceabilityScoreBreakdownDisplay())">
							@((MarkupString)listing.Bean.GetTraceabilityScoreStarDisplay())
						</span>
					</div>

					<div class="col-1">
						<FavoriteBean Bean="listing.Bean" IsFavorited="favoritedIds.Contains(listing.Bean.Id)"></FavoriteBean>
					</div>

					@if (CurEnviroment == EnviromentSettings.Enviroment.DEVELOPMENT)
					{
						<div class="col-1">
							<button class="btn btn-primary btn-sm" @onclick="@(e => EditBean(listing.Bean))"><span class="bi bi-pencil"></span></button>
						</div>
					}
				</div>
			</div>
		}
	</div>
	#endregion

	<EditBeanForm @ref="editBeans" OnBeanUpdated="HandleBeanEdited" OnBeanDeleted="HandleBeanDeleted" Roasters="roasters"></EditBeanForm>
}
else
{
	<div class="spinner-border text-light" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
	<small class="text-center text-faded">Loading beans...</small>
}

@code {
	[Parameter]
	public EnviromentSettings.Enviroment CurEnviroment { get; set; }
	[Parameter]
	public EventCallback<bool> OnComponentInitialized { get; set; }
	[Parameter]
	public EventCallback<List<BeanModel>> OnFirstAllBeansRetrieved { get; set; }

	private EditBeanForm? editBeans;

	private List<BeanModel>? beans;

	private BeanFilter? curFilter;
	private Dictionary<string, RoasterModel> roasters;
	private List<RoasterModel>? allRoasters;

	private List<BeanListingModel> listings = new();

	private Stopwatch stopwatch = new();
	private string timeElapsedDisplay = "";

	private bool searchIsExactMatch = false;
	private bool searchReturnedResults = false;

	private bool firstLoad = true;

	private SortMethod? activeMethod;

	private List<string> favoritedIds = new();

	#region Lifecyle Overrides

	protected override async Task OnInitializedAsync()
	{
		roasters = new Dictionary<string, RoasterModel>();
		allRoasters = await roasterServ.GetAllRoasters();
		foreach (RoasterModel roaster in allRoasters)
		{
			roasters[roaster.Id] = roaster;
		}

		await GetData();

		firstLoad = false;

		await OnComponentInitialized.InvokeAsync();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await JSRuntime.InvokeVoidAsync("IntializeTooltips");

		await GetFavorites();
	}

	#endregion 

	#region Retrieving Data
	public async Task RefreshData()
	{
		await GetData();
	}

	private async Task GetData()
	{
		stopwatch.Restart();

		if (curFilter == null)
		{
			var defaultFilter = new BeanFilter()
				{
					IsExcluded = new FilterValueBool(true, false),
					IsInStock = new FilterValueBool(true, true)
				};

			if (CurEnviroment != EnviromentSettings.Enviroment.DEVELOPMENT && allRoasters != null)
			{
				defaultFilter.ValidRoasters = new FilterList<string>(true, allRoasters.Where(r => r.RecievedPermission).Select(r => r.Id).ToList());
			}

			var getResult = await beanServ.GetBeansByFilter(defaultFilter);

			if (getResult.Results != null)
			{
				beans = getResult.Results;
				searchIsExactMatch = getResult.IsExactMatch;
				searchReturnedResults = true;

				await OnFirstAllBeansRetrieved.InvokeAsync(beans);
			}
			else
			{
				searchReturnedResults = false;
			}
		}
		else
		{
			var getResult = await beanServ.GetBeansByFilter(curFilter);
			if (getResult.Results != null)
			{
				beans = getResult.Results;
				searchIsExactMatch = getResult.IsExactMatch;
				searchReturnedResults = true;
			}
			else
			{
				searchReturnedResults = false;
			}
		}

		listings.Clear();

		foreach (BeanModel bean in beans)
		{
			listings.Add(new BeanListingModel()
				{
					Bean = bean,
					Roaster = bean.MongoRoasterId != null ? roasters[bean.MongoRoasterId] : new RoasterModel()
				});
		}

		ApplySort();

		stopwatch.Stop();
		timeElapsedDisplay = stopwatch.ElapsedMilliseconds.ToString() + " ms";

		StateHasChanged();
	}

	private async Task GetFavorites()
	{
		var favorites = await favServ.GetFavorites(JSRuntime);
		favoritedIds.Clear();

		foreach (var favorite in favorites)
		{
			favoritedIds.Add(favorite.Id);
		}
	}
	#endregion

	#region Sorting
	private void ApplySort()
	{
		if (activeMethod == null)
		{
			listings = sortServ.SortBeanListings(listings, new SortMethod() { SortByField = SortMethod.SORT_FIELD.DEFAULT });
		}
		else
		{
			listings = sortServ.SortBeanListings(listings, activeMethod);
		}

		StateHasChanged();
	}

	public void SetActiveSort(SortMethod method)
	{
		activeMethod = method;
		ApplySort();
	}
	#endregion

	#region Filtering
	public async Task ApplyFilter(BeanFilter newFilter, bool isFromQuiz = false)
	{
		curFilter = newFilter;
		await RefreshData();
	}
	#endregion

	private async Task EditBean(BeanModel clickedBean)
	{
		if (editBeans != null)
		{
			await editBeans.EditBean(clickedBean);
		}
	}

	#region Event Handlers

	private async Task HandleBeanEdited(string beanName)
	{
		await RefreshData();
	}

	private async Task HandleBeanDeleted(string beanName)
	{
		await RefreshData();
	}

	#endregion
}
