@page "/favorites"

@inject IJSRuntime JsRuntime
@inject BeanService BeanService
@inject FavoritesService FavoriteService

<PageTitle>Favorites - Seattle Roaster Project</PageTitle>

<div class="pb-[10rem]">
    @if (_beans == null)
    {
        <div id="beanDetailParent" class="grid-cols-1 mx-4 grid gap-x-4 gap-y-9 md:grid-cols-2">
            @for (var i = 0; i < NumberOfPlaceholders; i++)
            {
                <BeanDetailPlaceholder></BeanDetailPlaceholder>
            }
        </div>
    }
    else if (_beans.Count == 0)
    {
        <div class="mt-10 w-full text-center">
            <p class="mb-3 text-xl">No favorites yet!</p>

            <span>
                Click the
                <span class="relative">
                    <span class="absolute px-1 py-1">
                        <span class="bi bi-heart m-0 text-xl text-red-500 hover:text-red-600">
                        </span>
                    </span>

                    <button class="px-1 py-1">
                        <span class="bi bi-heart-fill m-0 text-xl text-red-500 opacity-30 hover:opacity-90 hover:text-red-600">
                        </span>
                    </button>
                </span>
                to add a bean to your personal favorite list.
            </span>
        </div>
    }
    else
    {
        <div id="beanDetailParent" class="grid-cols-1 mx-4 grid gap-x-4 gap-y-9 md:grid-cols-2">
            <CascadingValue Value="@FavoritedBeanIds">
                @foreach (var bean in _beans)
                {
                    <BeanDetail Bean="@bean"></BeanDetail>
                }
            </CascadingValue>
        </div>

        <div class="mt-15 opacity-80 w-full text-center">
            <span>
                Click the
                <span class="relative">
                    <span class="absolute px-1 py-1">
                        <span class="bi bi-heart m-0 text-xl text-red-500 hover:text-red-600">
                        </span>
                    </span>

                    <button class="px-1 py-1">
                        <span class="bi bi-heart-fill m-0 text-xl text-red-500 opacity-30 hover:opacity-90 hover:text-red-600">
                        </span>
                    </button>
                </span>
                to add more beans to your favorite list.
            </span>
        </div>
    }
</div>

@code {
    private List<string> FavoritedBeanIds;

    private const int NumberOfPlaceholders = 20;

    private List<BeanModel>? _beans;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        FavoritedBeanIds = await GetFavorites();
        _beans = await BeanService.GetBeansByIds(FavoritedBeanIds);

        StateHasChanged();
    }

    private async Task<List<string>> GetFavorites()
    {
        var favoriteIds = new List<string>();
        var favorites = await FavoriteService.GetFavorites(JsRuntime);

        foreach (var favorite in favorites)
        {
            favoriteIds.Add(favorite.Id);
        }

        return favoriteIds;
    }

}