@page "/favorites"

@inject BeanService BeanService
@inject FavoritesService FavoriteService
@inject RoasterService RoasterServ

<PageTitle>Favorites - Seattle Roaster Project</PageTitle>

<div class="pb-[10rem]">
    @if (_isLoading)
    {
        <div id="beanDetailParent" class="mx-4 grid grid-cols-1 gap-x-4 gap-y-9 md:grid-cols-2">
            @for (var i = 0; i < NumberOfPlaceholders; i++)
            {
                <BeanDetailPlaceholder></BeanDetailPlaceholder>
            }
        </div>
    }
    else if (_beans.Count == 0)
    {
        <div class="mt-10 w-full text-center">
            <p class="mb-3 text-xl">No favorites yet!</p>

            <span>
                Click the
                <span class="relative">
                    <span class="absolute px-1 py-1">
                        <span class="bi bi-heart m-0 text-xl text-red-500 hover:text-red-600">
                        </span>
                    </span>

                    <button class="px-1 py-1">
                        <span class="bi bi-heart-fill m-0 text-xl text-red-500 opacity-30 hover:opacity-90 hover:text-red-600">
                        </span>
                    </button>
                </span>
                to add a bean to your personal favorite list.
            </span>
        </div>
    }
    else
    {
        <div id="beanDetailParent" class="mx-4 grid grid-cols-1 gap-x-4 gap-y-9 md:grid-cols-2">
            <CascadingValue Value="@_favoritedBeanIds">
                @foreach (var listing in _favoriteListings)
                {
                    <BeanDetail Listing="@listing"></BeanDetail>
                }
            </CascadingValue>
        </div>

        <div class="mt-15 w-full text-center opacity-80">
            <span>
                Click the
                <span class="relative">
                    <span class="absolute px-1 py-1">
                        <span class="bi bi-heart m-0 text-xl text-red-500 hover:text-red-600">
                        </span>
                    </span>

                    <button class="px-1 py-1">
                        <span class="bi bi-heart-fill m-0 text-xl text-red-500 opacity-30 hover:opacity-90 hover:text-red-600">
                        </span>
                    </button>
                </span>
                to add more beans to your favorite list.
            </span>
        </div>
    }
</div>

@code {
    private List<string> _favoritedBeanIds = new();

    private const int NumberOfPlaceholders = 20;

    private List<BeanModel> _beans = new();
    private List<RoasterModel> _roasters = new();

    private List<BeanListingModel> _favoriteListings = new();

    private bool _isLoading = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadData();
        }
    }

    private async Task LoadData()
    {
        _isLoading = true;

        _favoritedBeanIds = await GetFavorites();
        _beans = await BeanService.GetBeansByIds(_favoritedBeanIds);
        _roasters = await RoasterServ.GetAllRoasters();

        BuildListings();

        _isLoading = false;

        StateHasChanged();
    }

    private async Task<List<string>> GetFavorites()
    {
        var favoriteIds = new List<string>();
        var favorites = await FavoriteService.GetFavorites();

        foreach (var favorite in favorites)
        {
            favoriteIds.Add(favorite.Id);
        }

        return favoriteIds;
    }

    private void BuildListings()
    {
        var listings = new List<BeanListingModel>();

        foreach (var bean in _beans)
        {
            listings.Add(BeanListingModel.FromBeanAndRoasters(bean, _roasters));
        }

        _favoriteListings = listings;
    }
}