@page "/"

@inject IJSRuntime JsRuntime
@inject EnvironmentSettings envSettings

<PageTitle>Home - Seattle Roaster Project</PageTitle>

<div class="bg-medium-roast-700 flex h-[25vh] w-full justify-center align-middle">
    <div>
        <div class="align-center flex pt-6">
            <img src="/images/logo.png" class="my-auto h-20 pe-4" alt="coffee bean"/>
            <span class="my-auto inline text-center text-7xl">
                Seattle Roaster Project
            </span>
        </div>
        <div class="pt-4 text-center">
            Find hundreds of sourceable coffee beans from local Seattle roasters with just one search!
        </div>
    </div>
</div>

<div class="shapedividers_com-6189 h-40 w-full">

</div>

<div class="flex justify-center">
    <a href="/search" class="nav-link align-center bg-medium-roast-700 me-4 ms-2 rounded-lg px-3 py-2 shadow-lg hover:text-crema-100 hover:bg-medium-roast-800">
        <span class="text-center text-lg"><span class="bi bi-search pe-1"></span> Search all Beans</span>
    </a>
</div>


@code
{

}