@page "/"
@using SeattleRoasterProject.Components.Home


@inject IJSRuntime JsRuntime
@inject EnvironmentSettings envSettings

<PageTitle>Home - Seattle Roaster Project</PageTitle>

<div class="bg-medium-roast-700 flex h-[25vh] w-full justify-center align-middle">
    <div>
        <div class="align-center flex pt-6">
            <img src="/images/logo.png" class="my-auto h-20 pe-4" alt="coffee bean"/>
            <span class="my-auto inline text-center text-7xl">
                Seattle Roaster Project
            </span>
        </div>
        <div class="pt-4 text-center">
            Find hundreds of sourceable coffee beans from local Seattle roasters with just one search!
        </div>
    </div>
</div>

<div class="shapedividers_com-6189 h-40 w-full">

</div>

<div class="flex justify-center">
    <a href="/search" class="nav-link align-center bg-medium-roast-700 me-4 ms-2 rounded-lg px-3 py-2 shadow-lg hover:text-crema-100 hover:bg-medium-roast-800">
        <span class="text-center text-lg"><span class="bi bi-search pe-1"></span> Search all Beans</span>
    </a>
</div>

<div class="hero text-dark-roast-900 border-2 m-24 flex rounded-2xl border border-neutral-900">
    <div class="p-12 align-middle">
        <h1 class="mb-6 text-5xl font-bold">
            Hero Text
        </h1>

        <h2 class="mb-2 text-2xl">
            Search by...
        </h2>
        
        <div class="flex w-full">
            <SearchTermList Title="Country" Items="@_countries" />
            <SearchTermList Title="Brew Method" Items="@_brewMethods" />
            <SearchTermList Title="Process" Items="@_processingMethods" />
        </div>
    </div>
</div>

<style>
    .hero {
        background: linear-gradient(135deg,rgb(226, 212, 205) 0%,rgb(0, 99, 93) 50%,rgb(1, 23, 47) 100%);
    }
</style>

@code
{
    private int _numberOfItemsInList = 5;

    private List<MarkupString> _countries = new();
    private List<MarkupString> _brewMethods = new();
    private List<MarkupString> _processingMethods = new();

    protected override async Task OnInitializedAsync()
    {
        SetCountries();
        _brewMethods = GetRandomEnums<BrewMethod>();
        _processingMethods = GetRandomEnums<ProcessingMethod>();
    }

    private void SetCountries( )
    {
        var random = new Random();
        var allCountries = GetEnumList<SourceCountry>()
            .OrderBy(_ => random.Next())
            .Take(_numberOfItemsInList);

        foreach (var country in allCountries)
        {
            var longDescription = BeanOrigin.GetCountryDisplayName(country, true);
            _countries.Add(new MarkupString(longDescription));
        }
    }

    private List<MarkupString> GetRandomEnums<T>()
    {
        var random = new Random();
        var allItems = GetEnumList<T>()
            .OrderBy(_ => random.Next())
            .Take(_numberOfItemsInList);

        return allItems.Select(item => (MarkupString)(item?.ToString()?.Replace("_", " ") ?? string.Empty))
            .ToList();
    }

    private static List<T> GetEnumList<T>()
    {
        var array = (T[])Enum.GetValues(typeof(T));
        var list = new List<T>(array);
        return list;
    }
}