@page "/stats"

@inject BeanService beanServ
@inject FavoritesService favServ
@inject RoasterService roasterServ
@inject EnviromentSettings envSettings
@inject IConfiguration config

@if (allRoasters != null && allBeans != null)
{
	@if (beansPerRoaster != null)
	{
		<div class="row">
			<table class="table text-crema w-50">
				<thead>
					<tr>
						<th scope="col">Roaster</th>
						<th scope="col">Beans</th>
						<th scope="col">Permission</th>
					</tr>
				</thead>
				<tbody>
					@foreach (RoasterModel roaster in allRoasters)
					{
						@if (beansPerRoaster.ContainsKey(roaster.Id))
						{
							<tr>
							<td>@roaster.Name</td>
							<td>
								@if(beansPerRoaster.ContainsKey(roaster.Id))
								{
									@beansPerRoaster[roaster.Id]
								}
							</td>
							<td>
								@if (roaster.RecievedPermission)
								{
									<span class="bi bi-check text-success"></span>
								}
								else
								{
									<span class="bi bi-x text-danger"></span>
								}
							</td>
						</tr>
						}
					}
				</tbody>
			</table>

		</div>
	}
}

@code {
	private EnviromentSettings.Enviroment curEnviroment = EnviromentSettings.Enviroment.PRODUCTION;

	List<RoasterModel>? allRoasters;
	List<BeanModel>? allBeans;

	Dictionary<string, int> beansPerRoaster = new();

	protected override async Task OnInitializedAsync()
	{
		curEnviroment = EnviromentSettings.Enviroment.DEVELOPMENT;
		allRoasters = await roasterServ.GetAllRoastersbyEnviroment(curEnviroment);
		var getResult = await beanServ.GetBeansByFilter(new BeanFilter()
			{
				IsExcluded = new FilterValueBool(true, false),
				IsInStock = new FilterValueBool(true, true),
				ValidRoasters = new FilterList<string>(true, allRoasters.Select(r => r.Id).ToList())
			});
		allBeans = getResult.Results;

		beansPerRoaster.Clear();
		// Get category leaders
		foreach (RoasterModel roaster in allRoasters)
		{
			List<BeanModel> beansForRoaster = allBeans.Where(b => b.MongoRoasterId == roaster.Id).ToList();
			if (beansForRoaster.Count > 0)
			{
				beansPerRoaster[roaster.Id] = beansForRoaster.Count();
			}
		}

		allRoasters.OrderBy(r => r.RecievedPermission).ThenBy(r => r.Name);
	}
}
