<div class="card mx-3 shadow px-3 py-1">
    <div class="card-body pt-1">
        <div class="row d-flex justify-content-start pb-2">
            <h5 class="card-title placeholder-glow text-center mb-0">
                <span class="placeholder col-7"></span>
            </h5>

            <div class="mt-1 quick-properties text-center justify-content-center placeholder-glow">
                <span class="placeholder col-3"></span>
                <span class="placeholder col-3"></span>
                <span class="placeholder col-3"></span>
            </div>

            <hr class="my-1"/>

            <div class="px-0 mt-1 mb-2 col-12 placeholder-glow">
                @for (var i = 0; i < 3; i++)
                {
                    <span class="placeholder col-2 me-1 rounded rounded-3"></span>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-4 p-0 m-0 placeholder-glow">
                @*Image*@
                <span class="placeholder col-3 h-100 w-100 rounded"></span>
            </div>
            <div class="col-7 ms-2">

                <div class="row my-1 placeholder-glow">
                    <span class="placeholder me-1 col-1"></span>
                    <span class="placeholder col-3"></span>
                </div>
                <div class="row my-1 placeholder-glow">
                    <span class="placeholder me-1 col-1"></span>
                    <span class="placeholder col-6"></span>
                </div>
                <div class="row my-1  placeholder-glow">
                    <span class="placeholder me-1 col-1"></span>
                    <span class="placeholder col-4"></span>
                </div>
                <div class="row my-1 placeholder-glow">
                    <span class="placeholder me-1 col-5"></span>
                    <span class="placeholder me-1 col-4"></span>
                    <span class="placeholder col-2"></span>
                </div>
                <div class="row my-1 placeholder-glow">
                    <span class="placeholder me-1 col-9"></span>
                    <span class="placeholder col-2"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer row">
        <div class="col-8 justify-content-start placeholder-glow">
            <button class="btn btn-primary disabled placeholder col-4"></button>
            <span class="placeholder col-2 text-faded"></span>
        </div>
    </div>
</div>

@code {

}