<div >
    <button id="sortButton" @onclick="HandleSortClicked" class="text-crema border-2 border-crema-100 ms-2 rounded border-opacity-30 p-1" type="button" style="line-height: 16px;">
        <span class="bi bi-arrow-down-up p-1"></span>
    </button>
    <ul class="bg-dark-roast-800 border-2 border-dark-roast-600 z-10 absolute ms-2 mt-1 w-36 rounded-md border @(_isExpanded ? "" : "hidden") py-2 py-1">
        @foreach (var option in sortMethodOptions)
        {
            <li class="w-full cursor-pointer px-4 hover:bg-dark-roast-600">
                <button class="@option.SelectedClass" @onclick="@(e => ChangeSelectedSort(option))">@option.Label</button>
            </li>
        }
    </ul>
</div>

@code {
    [Parameter] 
    public EventCallback<SortMethod> OnSortChanged { get; set; }

    private bool _isExpanded = false;

    private SortMethod selectedOption = new();

    private List<SortMethodOptions> sortMethodOptions = new()
    {
        new() { Label = (MarkupString)"Recommended", Method = new SortMethod { SortByField = SortMethod.SORT_FIELD.DEFAULT }, SelectedClass = "selectedOption" },
        new() { Label = (MarkupString)"Price $<i class=\"bi bi-arrow-right\"></i>$$$", Method = new SortMethod { SortByField = SortMethod.SORT_FIELD.PRICE, IsLowToHigh = true } },
        new() { Label = (MarkupString)"Price $$$<span class=\"bi bi-arrow-right\"></span>$", Method = new SortMethod { SortByField = SortMethod.SORT_FIELD.PRICE, IsLowToHigh = false } },
        new() { Label = (MarkupString)"Newest", Method = new SortMethod { SortByField = SortMethod.SORT_FIELD.DATE_ADDED, IsLowToHigh = false } },
        new() { Label = (MarkupString)"Oldest", Method = new SortMethod { SortByField = SortMethod.SORT_FIELD.DATE_ADDED, IsLowToHigh = true } },
        new() { Label = (MarkupString)"Name A<span class=\"bi bi-arrow-right\"></span>Z", Method = new SortMethod { SortByField = SortMethod.SORT_FIELD.ALPHABETICAL, IsLowToHigh = true } },
        new() { Label = (MarkupString)"Name Z<span class=\"bi bi-arrow-right\"></span>A", Method = new SortMethod { SortByField = SortMethod.SORT_FIELD.ALPHABETICAL, IsLowToHigh = false } },
        new() { Label = (MarkupString)"Roaster A<span class=\"bi bi-arrow-right\"></span>Z", Method = new SortMethod { SortByField = SortMethod.SORT_FIELD.ROSATER, IsLowToHigh = true } },
        new() { Label = (MarkupString)"Roaster Z<span class=\"bi bi-arrow-right\"></span>A", Method = new SortMethod { SortByField = SortMethod.SORT_FIELD.ROSATER, IsLowToHigh = false } }
    };

    private class SortMethodOptions
    {
        public MarkupString Label;
        public SortMethod Method = new();
        public string SelectedClass = "";
    }

    private void HandleSortClicked()
    {
        _isExpanded = !_isExpanded;
    }

    private void ChangeSelectedSort(SortMethodOptions selOption)
    {
        selectedOption = selOption.Method;
        SetAllOptionsToInactive();
        selOption.SelectedClass = "selectedOption";

        OnSortChanged.InvokeAsync(selOption.Method);
    }

    private void SetAllOptionsToInactive()
    {
        foreach (var option in sortMethodOptions)
        {
            option.SelectedClass = "";
        }
    }

}